<form action="/recipes" method="post">
    <p>Name: <input type="text" name="name"></p>
    <p>Ingredients:</p>
    <textarea type="text" name="ingredients">
    </textarea>
    <p>Cook time: <input type="number" name="cook_time"></p>
    <input type="submit">
</form>